
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <link href="signin.css" rel="stylesheet">

    <title>MyTek - connexion</title>
</head>

<body class="text-center">
<div class="container"  style="background:#f8f9fa">


<form class="form-signin"  method="post" accept-charset="utf-8">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" >Connectez vous</h1>
    <div>
        <label for="inputEmail" class="sr-only">Adresse mail </label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <!--<span class="error-message" th:if="${errors != null}" th:text="${errors.get('email')}"></span>-->
        <div class="invalid-feedback">
            Merci de saisir votre adresse e-mail.
        </div>
    </div>
    <div>
        <label for="inputPassword" class="sr-only">Mot de passe </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="invalid-feedback">
            Merci de saisir votre mot de passe.
        </div>

    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button> <br/>
    <div>
        <a class="btn btn-outline-primary" th:href="@{/index}"> Retour à l'accueil</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; MyTek 2017-2018, Tout droits réservés </p>
</form>
</div>
</body>
</html>

