<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <link href="signin.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <title>MyTek - Voir les groupes </title>
    <style type="text/css">
        div > table {
            text-align: center;
        }

        .error-message {
            color: red;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body class="text-center" style="width:100%;height:auto;background:#ececec " >
<div class="container"  style="background:#f8f7fa">
    <br>
    <div class="panel-body" style="background: #ececec">
<h2 style="text-align:center">Voir les groupes</h2>
<p style="text-align:center">Cliquez sur l'image d'un groupe pour voir les détails</p>
<br>

<div style="overflow-x:auto">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col" >Avatar de groupe</th>
        </tr>
        <tr th:each="groupe : ${groupes}">
            <td><h2 th:text="${groupe.nomGroupe}"></h2></td>
            <td><a th:href="@{'/groupe/' + ${groupe.id}}"><img th:src="${groupe.urlImage}" alt="groupe"
                                                               style="max-width:200px;"/></a></td>
        </tr>
    </table>
</div>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('connexion')}"></span>
<!--<span class="error-message" th:if="${errors != null}" th:text="${errors.get('permission')}"></span>-->
<!--<span class="success" th:if="${success != null}" th:text="${success.get('demandeAdhesion')}"></span>-->

<div>
    <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
</div>
    </br>
    </br>
</div>
    </br>
</div>
</body>
</html>