<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="signin.css" rel="stylesheet">
    <title>MyTek - Mes informations personnelles </title>
    <style type="text/css">

        .error-message {
            color: red;
        }
    </style>
</head>
<body class="text-center" style="background:#ececec " >
<div class="container" style="background:#f8f7fa">


<h2>Mon compte</h2>
<br>
<b>Nom : </b>
<span th:text="${session.nom != null} ? ${session.nom}"></span>
<br>
<b>Prenom : </b>
<span th:text="${session.prenom != null} ? ${session.prenom}"></span>
<br>
<b>Email : </b>
<span th:text="${session.email != null} ? ${session.email}"></span>

<br>
<b>Groupes : </b>
<div th:if="${groupes != null}">
    <span th:each="groupe : ${groupes}" th:text="${groupe.nomGroupe} + ' | '"> </span>
</div>
<br>
<br><br>
<div>
    <div>
        <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
    </div>
</div>
</div>
</body>
</html>