<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="signin.css" rel="stylesheet">
    <title>MyTek - Ajouter un film</title>
    <style type="text/css">
        form > div {
            padding: .5em;
        }

        div > label:first-child {
            display: inline-block;
            min-width: 18em;
        }

        .error-message {
            color: red;
        }

        #success {
            color: limegreen;
        }
    </style>
</head>
<body class="text-center" style="width:100%;height:auto;background:#ececec " >
<div class="container"  style="background:#f8f7fa">
    <br>
    <br>


<span class="error-message" th:if="${errors != null}" th:text="${errors.get('connexion')}"></span>

<form method="post"  accept-charset="utf-8">
    <h1 class="h3 mb-3 font-weight-normal" >Ajouter un film</h1>

    <div>

        <input placeholder="Titre : "  class="form-control" id="titre" name="titre" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('titre')}"></span>
    </div>
    <div>

        <input placeholder="Lien URL de l'affiche :"   class="form-control"   id="affiche" name="affiche" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('affiche')}"></span>
    </div>
    <div>

        <input placeholder="Nationalité :"   class="form-control"  id="nationalite" name="nationalite" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('nationalite')}"></span>
    </div>
    <div>
        <input placeholder="Titre original :" class="form-control"  id="titreOriginal" name="titreOriginal" type="text">
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('titreOriginal')}"></span>
    </div>
    <div>
        <select class="form-control form-control-lg" name="genre" id="dropGenre">
            <option value="0" th:text="'Séléctionner un genre...'"></option>
            <option th:each="genre : ${genres}" th:value="${genre.libelle}" th:text="${genre.libelle}"></option>
        </select>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('genre')}"></span>
    </div>
    <div>
        <label for="dateSortie">Date de sortie : </label>
        <input id="dateSortie" name="dateSortie" type="date">
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('date')}"></span>
    </div>
    <div>
        <select class="form-control form-control-lg" name="realisateurs" id="realisateurs">
            <option value="0" th:text="'Séléctionner un réalisateur...'"></option>
            <option th:each="realisateur : ${realisateurs}" th:value="${realisateur.id}" th:text="${realisateur.prenom} + ' ' + ${realisateur.nom}"></option>
        </select>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('realisateur')}"></span>
    </div>
    <div>
        <select class="form-control form-control-lg" name="acteurs" id="acteurs">
            <option value="0" th:text="'Séléctionner un acteur...'"></option>
            <option th:each="acteur : ${acteurs}" th:value="${acteur.id}" th:text="${acteur.prenom} + ' ' + ${acteur.nom}"></option>
        </select>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('acteur')}"></span>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" >Ajouter</button>
    </div>
    <div>
        <a class="btn btn-primary"th:href="@{/ajouterRealisateur}"> Ajouter un réalisateur </a>
        <a class="btn btn-primary"th:href="@{/voirFilms}"> Voir tous les films </a>
        <a class="btn btn-primary"th:href="@{/ajouterActeur}"> Ajouter un acteur</a>
        <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
    </div>
</form>

<div id="success">
    <span th:text="${success}"></span>
</div>
</div>
</body>
</html>
