<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="signin.css" rel="stylesheet">
    <title>MyTek - Ajouter un acteur</title>
    <style type="text/css">
        form > div {
            padding: .5em;
        }

        div > label:first-child {
            display: inline-block;
            min-width: 18em;
        }

        .error-message {
            color: red;
        }

        #success {
            color: limegreen;
        }
    </style>
</head>
<body class="text-center" style="width:100%;height:auto;background:#ececec " >
<div class="container"  style="background:#f8f7fa">
    <br>
    <br>


    <h1 class="h3 mb-3 font-weight-normal" >Ajouter un acteur </h1>
<form method="post" accept-charset="utf-8">

    <div>
        <input placeholder="Nom : "  class="form-control" id="nom" name="nom" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('nom')}"></span>
    </div>
    <div>
        <input placeholder="Prénom :"  class="form-control" id="prenom" name="prenom" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('prenom')}"></span>
    </div>
    <div>
        <input placeholder="Nationalité : "  class="form-control" id="nationalite" name="nationalite" type="text" value=''>
        <span class="error-message" th:if="${errors != null}" th:text="${errors.get('nationalite')}"></span>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ajouter</button>
    </div>

</form>

    <div id="success">
        <span th:text="${success}"></span>
    </div>

    <div>
        <a class="btn btn-primary"th:href="@{/ajouterRealisateur}"> Ajouter un réalisateur </a>
        <a class="btn btn-primary"th:href="@{/voirFilms}"> Voir tous les films </a>
        <a class="btn btn-primary"th:href="@{/ajouterActeur}"> Ajouter un acteur</a>
        <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
    </div>


</div>
</body>
</html>
