<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <link href="signin.css" rel="stylesheet">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <title>MyTek - Consultation d'un film </title>
    <style type="text/css">
        div > table {
            text-align: center;
        }

        .error-message {
            color: red;
        }

        table, th, td {
            border: 1px solid black;
        }

        #success {
            color: limegreen;
        }
    </style>
</head>
<body class="text-center" style="width:100%;height:auto;background:#ececec " >
<div class="container"  style="background:#f8f7fa">
    <br>
    <br>
    <div class="panel-body" style="background: #ececec">

<h2 style="text-align:center">Consulter un film </h2>
<br>

<div >
    <table class="table" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Affiche</th>
            <th scope="col">Nationalite</th>
            <th scope="col" >Titre original</th>
            <th scope="col">Genre</th>
            <th scope="col">Realisateurs</th>
            <th scope="col">Acteurs</th>
            <th scope="col" style="max-width:80px;" th:if="${session.id != null}">Médiathèque</th>
            <th scope="col" style="min-width:80px;" th:if="${session.id != null and avisPossible != null and avisPossible == true}">Mon avis</th>
            <th scope="col" th:if="${session.id != null and avisPossible != null and avisPossible == true}">Actions</th>
        </tr>
        <tr>
            <td th:text="${film.titre}"></td>
            <td><img  th:src="${film.affiche}" alt="film" style="max-width:100px;"/></td>
            <td th:text="${film.nationalite}"></td>
            <td th:text="${film.titreOriginal}"></td>
            <td th:text="${film.genre}"></td>
            <td>
                <ul>
                    <li th:if="${realisateurs != null}" th:each="realisateur : ${realisateurs}">
                        <span th:text="${realisateur.prenom} + ' ' + ${realisateur.nom}"></span>
                        <span th:if="${realisateur.nationalite != null}" th:text="${realisateur.nationalite}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:if="${acteurs != null}" th:each="acteur : ${acteurs}">
                        <span th:text="${acteur.prenom} + ' ' + ${acteur.nom}"></span>
                        <span th:if="${acteur.nationalite != null}" th:text="${acteur.nationalite}"></span>
                    </li>
                </ul>
            </td>
            <td th:if="${session.id != null}">
                <form th:action="@{'/ajouterFilmMediatheque/' + ${film.id}}" method="post">
                    <button class="btn btn-primary" type="submit"> Ajouter à ma médiathèque</button>
                </form>
            </td>
            <td th:if="${session.id != null and avisPossible != null and avisPossible == true}">
                <span th:text="'Ma note :'"></span>
                <span th:if="${note != 0}">
                    <th:block th:each="i: ${#numbers.sequence(0, note - 1)}">
                        <span th:text="'♥'"></span>
                    </th:block>
                </span>

                <span th:text="'Mon avis :'"></span>
                <span th:text="${avis}"></span>

                <span th:if="${vu}" th:text="${'Vu'}"></span>
                <span th:unless="${vu}" th:text="${'À voir'}"></span>


            </td>
            <td th:if="${session.id != null and avisPossible != null and avisPossible == true}">
                <form th:action="@{'/noterFilm/' + ${film.id}}" method="post">

                    <select class="form-control form-control-lg" name="note" id="dropNote">
                        <option th:value="0" th:text="'Ma note'"></option>
                        <option th:value="1" th:text="'♥♡♡♡♡'"></option>
                        <option th:value="2" th:text="'♥♥♡♡♡'"></option>
                        <option th:value="3" th:text="'♥♥♥♡♡'"></option>
                        <option th:value="4" th:text="'♥♥♥♥♡'"></option>
                        <option th:value="5" th:text="'♥♥♥♥♥'"></option>
                    </select>
                    <label for="avis">Avis : </label>
                    <textarea rows="5" cols="35" name="avis" id="avis" maxlength="140"></textarea>

                    <div>
                        <input  class="form-check-input" type="radio" name="vu" value="vu">Vu<br>
                        <input class="form-check-input"  type="radio" name="vu" value="aVoir">À voir<br>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
                </form>
            </td>
        </tr>
        </thead>
    </table>
</div>

<span class="error-message" th:if="${errors != null}" th:text="${errors.get('connexion')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('film')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('deja')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('note')}"></span>
<div id="success">
    <span th:text="${success}"></span>
</div>

<div>
    <a class="btn btn-primary" th:href="@{/voirFilms}"> Voir tous les films</a>
    <a class="btn btn-primary" th:href="@{/mediatheque}"> Ma médiathèque </a>
    <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
</div> </br> </br>
    </div></br> </br> </div>
</body>
</html>