<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>MyTek - Consultation d'un film </title>
    <style type="text/css">
        div > table {
            text-align: center;
        }

        .error-message {
            color: red;
        }

        table, th, td {
            border: 1px solid black;
        }

        #success {
            color: limegreen;
        }
    </style>
</head>
<body>

<h2 style="text-align:center">Consulter un film </h2>
<br>

<div style="overflow-x:auto">
    <table>
        <tr>
            <th>Titre</th>
            <th>Affiche</th>
            <th>Nationalite</th>
            <th>Titre original</th>
            <th>Genre</th>
            <th>Realisateurs</th>
            <th>Acteurs</th>
            <th th:if="${session.id != null}">Médiathèque</th>
            <th th:if="${session.id != null and avisPossible != null and avisPossible == true}">Mon avis</th>
            <th th:if="${session.id != null and avisPossible != null and avisPossible == true}">Actions</th>
        </tr>
        <tr>
            <td th:text="${film.titre}"></td>
            <td><img th:src="${film.affiche}" alt="film" style="max-width:200px;"/></td>
            <td th:text="${film.nationalite}"></td>
            <td th:text="${film.titreOriginal}"></td>
            <td th:text="${film.genre}"></td>
            <td>
                <ul>
                    <li th:if="${realisateurs != null}" th:each="realisateur : ${realisateurs}">
                        <span th:text="${realisateur.prenom} + ' ' + ${realisateur.nom}"></span>
                        <span th:if="${realisateur.nationalite != null}" th:text="${realisateur.nationalite}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:if="${acteurs != null}" th:each="acteur : ${acteurs}">
                        <span th:text="${acteur.prenom} + ' ' + ${acteur.nom}"></span>
                        <span th:if="${acteur.nationalite != null}" th:text="${acteur.nationalite}"></span>
                    </li>
                </ul>
            </td>
            <td th:if="${session.id != null}">
                <form th:action="@{'/ajouterFilmMediatheque/' + ${film.id}}" method="post">
                    <button type="submit"> Ajouter à ma médiathèque</button>
                </form>
            </td>
            <td th:if="${session.id != null and avisPossible != null and avisPossible == true}">
                <span th:text="'Ma note :'"></span>
                <span th:if="${note != 0}">
                    <th:block th:each="i: ${#numbers.sequence(0, note - 1)}">
                        <span th:text="'♥'"></span>
                    </th:block>
                </span>

                <span th:text="'Mon avis :'"></span>
                <span th:text="${avis}"></span>

                <span th:if="${vu}" th:text="${'Vu'}"></span>
                <span th:unless="${vu}" th:text="${'À voir'}"></span>


            </td>
            <td th:if="${session.id != null and avisPossible != null and avisPossible == true}">
                <form th:action="@{'/noterFilm/' + ${film.id}}" method="post">

                    <select class="form-control" name="note" id="dropNote">
                        <option th:value="0" th:text="'Ma note'"></option>
                        <option th:value="1" th:text="'♥♡♡♡♡'"></option>
                        <option th:value="2" th:text="'♥♥♡♡♡'"></option>
                        <option th:value="3" th:text="'♥♥♥♡♡'"></option>
                        <option th:value="4" th:text="'♥♥♥♥♡'"></option>
                        <option th:value="5" th:text="'♥♥♥♥♥'"></option>
                    </select>
                    <label for="avis">Avis : </label>
                    <textarea rows="5" cols="35" name="avis" id="avis" maxlength="140"></textarea>

                    <div>
                        <input type="radio" name="vu" value="vu">Vu<br>
                        <input type="radio" name="vu" value="aVoir">À voir<br>
                    </div>
                    <button type="submit">Envoyer</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<span class="error-message" th:if="${errors != null}" th:text="${errors.get('connexion')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('film')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('deja')}"></span>
<span class="error-message" th:if="${errors != null}" th:text="${errors.get('note')}"></span>
<div id="success">
    <span th:text="${success}"></span>
</div>

<div>
    <a th:href="@{/voirFilms}"> Voir tous les films</a>
    <a th:href="@{/maMediatheque}"> Ma médiaathèque </a>
    <a th:href="@{/}"> Retour à l'accueil</a>
</div>
</body>
</html>