<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>MyTek - Consultation d'un film </title>
    <style type="text/css">
        div > table {
            text-align: center;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>

<h2 style="text-align:center">Consulter un film </h2>
<br>

<div style="overflow-x:auto">
    <table>
        <tr>
            <th>Titre</th>
            <th>Affiche</th>
            <th>Nationalite</th>
            <th>Titre original</th>
            <th>Genre</th>
        </tr>
        <tr>
            <td th:text="${film.titre}"></td>
            <td><img th:src="${film.affiche}" alt="film" style="max-width:200px;"/></td>
            <td th:text="${film.nationalite}"></td>
            <td th:text="${film.titreOriginal}"></td>
            <td th:text="${film.genre}"></td>
        </tr>
    </table>
</div>

<div>
    <a th:href="@{/voirFilms}"> Voir tous les films</a>
    <a th:href="@{/}"> Retour à l'accueil</a>
</div>
</body>
</html>