<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{signin.css}">
    <link href="signin.css" rel="stylesheet">
    <title>MyTek - Voir les films </title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dataTableFilms = $('#filmsTable').DataTable({
                "sAjaxSource": "/voirFilmsListe",
                "sAjaxDataProp": "",
                "aoColumns": [
                    {"mData": "titre"},
                    {
                        "data": "affiche", "render": function (data, type, row) {
                            return '<a href="/film/' + row.id + '"> <img src="' + data + '" style="height:100px;width:100px;"/></a>';
                        }
                    },
                    {"mData": "nationalite"},
                    {"mData": "titreOriginal"},
                    {"mData": "genre"},
                    {
                        "mData": "dateSortie", "render": function (data, type, row) {
                            if (data == null) {
                                return 'Pas de date'
                            } else {
                                return data.substring(0, 10);
                            }
                        }
                    }
                ],
                "language": {
                    "lengthMenu": "Afficher _MENU_ éléments par page",
                    "zeroRecords": "Aucune donnée trouvée",
                    "info": "Affichage de la page _PAGE_ sur _PAGES_",
                    "infoEmpty": "Aucune donnée trouvée",
                    "infoFiltered": "(Filtré de _MAX_ éléments)",
                    "paginate": {
                        "previous": "Page précédente",
                        "next": "Page suivante"
                    },
                    "search": "Rechercher :"
                }
            })
        });

    </script>
</head>

<body class="text-center" style="width:100%;height:auto;background:#ececec ">
<div class="container" style="background:#f8f7fa">
    <br>
    <br>
    <div class="panel-body" style="background: #ececec">
        <h2 style="text-align:center">Liste de films</h2>
        <p style="text-align:center">Cliquez sur l'affiche d'un film pour afficher les détails</p>
        <br>


        <div>
            <a class="btn btn-primary" th:href="@{/ajouterFilm}"> Ajouter un film</a>
            <a class="btn btn-primary" th:href="@{/index}"> Retour à l'accueil</a>
            <a class="btn btn-primary" th:href="@{/ajouterRealisateur}"> Ajouter un réalisateur</a>
            <a class="btn btn-primary" th:href="@{/ajouterActeur}"> Ajouter un acteur</a>
        </div>
    </div>
    <br>
    <br>
    <table class="table" id="filmsTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Affiche</th>
            <th scope="col">Nationalite</th>
            <th scope="col">Titre original</th>
            <th scope="col">Genre</th>
            <th scope="col">Date de sortie</th>
        </tr>
        </thead>
    </table>


</div>
</body>
</html>