<!DOCTYPE html>
<html xmlns:th="http://wwwthymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyTek - Accueil</title>
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap-grid.css}">
</head>
<body>
<div style="padding-left:16px">
    <h2>Accueil</h2>
</div>

<div>
    <div th:if="${session.id == null}">
        <a class="btn btn-primary" role="button" th:href="@{/inscription}"> Inscription </a>
        <br>
    </div>
    <div th:if="${session.id == null}">
        <a class="btn btn-primary" role="button" th:href="@{/connexion}"> Connexion </a>
        <br>
    </div>
    <div>
        <a class="btn btn-primary" role="button" th:href="@{/voirFilms}"> Voir tous les films </a>
        <br>
    </div>
    <div th:if="${session.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{/ajouterFilm}"> Ajouter un film </a>
        <br>
    </div>
    <div th:if="${session.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{/creerGroupe}"> Créer un groupe </a>
        <br>
    </div>
    <div th:if="${session.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{/rejoindreGroupe}">Rejoindre un groupe </a>
        <br>
    </div>
    <div th:if="${session.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{/voirGroupes}">Voir les groupes </a>
    </div>
    <div th:if="${session.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{/mediatheque}">Ma médiathèque </a>
    </div>
    <div th:if="${session.id != null}">
        <form th:action="@{/deconnexion}" method="post">
            <button type="submit"
            >Se déconnecter
            </button>
        </form>
    </div>
</div>

<div th:if="${session.id != null}">
    <h2>Compte : </h2> <a th:href="@{'/voirCompte/'}"><span style="text-align: center"
                                                            th:text="${session.prenom != null and session.nom != null} ? ${session.prenom + ' ' + session.nom} : 'Non connecté'"></span>
</a>
</div>

</body>
</html>

<div>


</div>
